streamlit==1.32.0
pandas==2.2.3
langchain==0.3.25
langchain-document-loaders
langchain-text-splitters==0.3.8
langchain-community==0.3.24
langchain-core==0.3.60
openai==1.79.0
chromadb==1.0.9
pydantic==2.11.4
pydantic-core==2.33.2
typing_extensions==4.13.2
numpy==2.2.6
tenacity==9.1.2
tqdm==4.67.1
urllib3==2.4.0
requests==2.32.3
certifi==2025.4.26
idna==3.10
charset-normalizer==3.4.2
